:root {
  --branding-color: #010208;
  --secondary-color: aliceblue;
  --accent-color: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  --default-font-family: "Work Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin: 20px auto;
  max-width: 800px;
  background: var(--branding-color);
  color: var(--secondary-color);
}

h1,
p,
h2 {
  text-align: center;
}

h1 {
  font-size: 96px;
  line-height: 1.1em;
}
h2 {
  font-weight: 100;
  font-size: 32px;
  line-height: 40px;
}
.hero p {
  font-size: 24px;
}

.hero {
  padding: 125px 45px 250px;
  text-align: center;
}
.header-contact {
  padding-top: 25px;
  padding-bottom: 50px;
}

.projects-heading {
  font-size: 30px;
  font-weight: 500;
}

.project h5 {
  font-weight: 200;
}

.btn-branding {
  background: var(--accent-color);
  border: 1px solid #e3e4e6;
  border-radius: 100px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 1px solid #e3e4e6;
  border-radius: 100px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 10px 25px;
}

.btn-branding-outline:hover {
  border: 1px solid #ca7fdb;
  color: #ca7fdb;
}

nav {
  padding: 20px, 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 12px;
}

nav a {
  text-decoration: none;
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #bc3cd8;
}

.description {
  font-weight: 100;
  font-size: 26px;
}

.cap-text {
  text-transform: uppercase;
  text-align: left;
}

.project-type {
  text-transform: uppercase;
}

.footer-header {
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
}

.contacts {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.about {
  color: var(--secondary-color);
}

.work {
  color: #d95a28;
}

.contact-page {
  margin-top: 200px;
}

.contact-header,
.main {
  fallback: var(--secondary-color);
  background: var(--accent-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media (max-width: 900px) {
  .about {
    font-size: 60px;
    margin-bottom: 0px;
  }
  .description {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .project-about {
    margin-top: 0px;
  }
  .hero {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .hero p {
    margin-bottom: 0px;
    font-size: 18px;
  }
  .project-text {
    font-size: 16px;
  }
  .project-header {
    font-size: 18px;
  }
}
